* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  color: #333;
  background-color: #eeeeee;
  margin: 0;  
  padding: 0; 
}

main {
  background-color: #eeeeee; 
  padding: 0; 
}

img {
  max-width: 100%; 
  height: auto;    
}

#img-div {
  margin: 20px 0; 
}

#img-caption {
  margin: 10px 0; 
}